.main {
  width: 100%;
}

h1.table-title {
  font-size: 25px;
}
table {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 20px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

div.title-wrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

button[type="submit"],
button.edit-button {
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
  background: #f2994a;
  padding: 5px 10px;
  cursor: pointer;
}

button[type="submit"] button.edit-button:hover {
  background: #f08f3a;
}

.row-user-edit {
  display: none;
}

form.editCars {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editCars label {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.editCars input[type="text"],
.editCars input[type="number"],
.editCars select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.editCars select {
  height: 47px;
}

.editCars input[type="submit"] {
  background-color: #2d9cdb;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.editCars input[type="submit"]:hover {
  background-color: #3caeee;
}

@media only screen and (min-width: 1024px) {
  form.editCars {
    flex-direction: row;
  }
}
