.login-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 90%;
  height: 40vh;
}

.loginModal-wrapper {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 11px 14px 29px -18px rgba(66, 68, 90, 1);
}

.logo-and-review {
  width: 100%;
  background-color: #3caeee;
  border-radius: 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 20px 30px;
  display: none;
}

.login-logo {
  height: 200px;
}

.login-logo > img {
  height: 100%;
}

.client-opinion {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: none;
}

.client-opinion > p {
  line-height: 20px;
  font-size: 13px;
  width: 75%;
}

.login-form {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.login-form > h2 {
  font-size: 30px;
}

.login-form > form > input {
  border: 1px solid lightgrey;
}

form {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.checkbox-wrapper {
  display: flex;
  gap: 10px;
}

.login-form > form > button {
  font-weight: 300;
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background: #2d9cdb;
  color: white;
}

.login-form input {
  height: 30px;
  width: 100%;
}

h2.user-greeting {
  font-size: 20px;
}

@media only screen and (min-width: 820px) {
  .login-wrapper {
    height: 400px;
  }

  .logo-and-review {
    display: flex;
    height: 100%;
  }
  .loginModal-wrapper {
    height: 100%;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .client-opinion {
    display: flex;
  }

  .login-wrapper {
    justify-content: center;
  }

  .loginModal-wrapper {
    width: 60%;
  }
}
